.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.682617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.917969;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.706543;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-8.880000px;}
._2{margin-left:-4.200000px;}
._1{margin-left:-2.160000px;}
._3{width:14.943000px;}
._4{width:21.117370px;}
._5{width:422.970170px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs0{font-size:48.000000px;}
.fs7{font-size:65.280006px;}
.fs3{font-size:71.808006px;}
.fs4{font-size:80.000000px;}
.fs5{font-size:80.256004px;}
.fs2{font-size:96.000000px;}
.fs6{font-size:101.680586px;}
.fs1{font-size:120.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:6.550656px;}
.y2{bottom:6.652016px;}
.y14{bottom:154.595215px;}
.y15{bottom:154.595245px;}
.ya{bottom:158.744499px;}
.yb{bottom:158.744507px;}
.y16{bottom:163.384297px;}
.y11{bottom:192.022293px;}
.y12{bottom:192.022308px;}
.y2d{bottom:193.381660px;}
.y2e{bottom:193.381683px;}
.y8{bottom:194.812157px;}
.y9{bottom:194.812164px;}
.y13{bottom:200.811357px;}
.y2f{bottom:202.170732px;}
.y2a{bottom:205.107403px;}
.ye{bottom:229.520382px;}
.yf{bottom:229.520386px;}
.y1c{bottom:230.879751px;}
.y1d{bottom:230.879761px;}
.y6{bottom:230.879812px;}
.y7{bottom:230.879822px;}
.y29{bottom:231.027405px;}
.y10{bottom:238.309438px;}
.y2c{bottom:239.668827px;}
.y1a{bottom:239.668888px;}
.y21{bottom:325.929657px;}
.y17{bottom:326.915604px;}
.y23{bottom:327.145813px;}
.y26{bottom:327.145824px;}
.y27{bottom:327.145828px;}
.y1f{bottom:327.353806px;}
.y4{bottom:327.353882px;}
.yd{bottom:328.943253px;}
.y22{bottom:334.718714px;}
.y19{bottom:335.704665px;}
.y18{bottom:335.704670px;}
.y25{bottom:335.934879px;}
.y24{bottom:335.934883px;}
.y28{bottom:335.934895px;}
.y20{bottom:336.142870px;}
.y2b{bottom:336.142873px;}
.y5{bottom:336.142946px;}
.y1e{bottom:397.585121px;}
.yc{bottom:397.585197px;}
.y1b{bottom:464.098518px;}
.y3{bottom:507.431665px;}
.h1{height:31.992188px;}
.ha{height:46.059380px;}
.h4{height:50.209504px;}
.h8{height:56.116503px;}
.h7{height:56.445312px;}
.h6{height:67.078125px;}
.h3{height:67.125000px;}
.h5{height:67.734375px;}
.h9{height:67.770508px;}
.h2{height:81.269531px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:8.392204px;}
.x22{left:41.183418px;}
.x7{left:43.128731px;}
.x35{left:48.455849px;}
.xa{left:51.331779px;}
.x4{left:60.084282px;}
.x5{left:76.906548px;}
.x8{left:84.253731px;}
.x21{left:90.461884px;}
.x6{left:94.674438px;}
.x9{left:103.692795px;}
.x36{left:163.283417px;}
.x37{left:174.021301px;}
.x38{left:177.368179px;}
.x23{left:182.903717px;}
.xb{left:271.764038px;}
.x3{left:275.968170px;}
.x16{left:283.384979px;}
.x39{left:293.809914px;}
.x24{left:306.222229px;}
.xc{left:315.889709px;}
.x25{left:323.044495px;}
.x3a{left:337.059906px;}
.x26{left:340.812378px;}
.x3b{left:379.710297px;}
.x3c{left:390.807556px;}
.x3d{left:403.168518px;}
.xd{left:425.012375px;}
.x29{left:520.228668px;}
.xe{left:531.692017px;}
.x11{left:533.911484px;}
.xf{left:548.514282px;}
.x27{left:556.246643px;}
.x2a{left:563.478638px;}
.x10{left:566.282166px;}
.x12{left:577.161499px;}
.x28{left:611.529846px;}
.x13{left:620.292358px;}
.x14{left:631.030273px;}
.x15{left:643.391174px;}
.x2b{left:657.073975px;}
.x2{left:676.107758px;}
.x33{left:752.324150px;}
.x34{left:761.777275px;}
.x20{left:774.432381px;}
.x2c{left:778.052429px;}
.x1b{left:785.420246px;}
.x2d{left:794.874695px;}
.x17{left:799.186401px;}
.x18{left:814.836792px;}
.x2e{left:823.388489px;}
.x1c{left:828.670227px;}
.x19{left:833.481262px;}
.x2f{left:837.402954px;}
.x30{left:858.402954px;}
.x1d{left:871.566711px;}
.x1a{left:873.513184px;}
.x1e{left:883.181152px;}
.x1f{left:895.542114px;}
.x31{left:901.520142px;}
.x32{left:917.170532px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-11.840000pt;}
._2{margin-left:-5.600000pt;}
._1{margin-left:-2.880000pt;}
._3{width:19.924000pt;}
._4{width:28.156493pt;}
._5{width:563.960227pt;}
.fs0{font-size:64.000000pt;}
.fs7{font-size:87.040009pt;}
.fs3{font-size:95.744008pt;}
.fs4{font-size:106.666667pt;}
.fs5{font-size:107.008006pt;}
.fs2{font-size:128.000000pt;}
.fs6{font-size:135.574115pt;}
.fs1{font-size:160.000000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:8.734208pt;}
.y2{bottom:8.869354pt;}
.y14{bottom:206.126953pt;}
.y15{bottom:206.126994pt;}
.ya{bottom:211.659332pt;}
.yb{bottom:211.659342pt;}
.y16{bottom:217.845730pt;}
.y11{bottom:256.029724pt;}
.y12{bottom:256.029744pt;}
.y2d{bottom:257.842214pt;}
.y2e{bottom:257.842244pt;}
.y8{bottom:259.749542pt;}
.y9{bottom:259.749552pt;}
.y13{bottom:267.748477pt;}
.y2f{bottom:269.560977pt;}
.y2a{bottom:273.476537pt;}
.ye{bottom:306.027176pt;}
.yf{bottom:306.027181pt;}
.y1c{bottom:307.839668pt;}
.y1d{bottom:307.839681pt;}
.y6{bottom:307.839750pt;}
.y7{bottom:307.839762pt;}
.y29{bottom:308.036540pt;}
.y10{bottom:317.745917pt;}
.y2c{bottom:319.558436pt;}
.y1a{bottom:319.558517pt;}
.y21{bottom:434.572876pt;}
.y17{bottom:435.887472pt;}
.y23{bottom:436.194417pt;}
.y26{bottom:436.194433pt;}
.y27{bottom:436.194438pt;}
.y1f{bottom:436.471741pt;}
.y4{bottom:436.471842pt;}
.yd{bottom:438.591003pt;}
.y22{bottom:446.291618pt;}
.y19{bottom:447.606220pt;}
.y18{bottom:447.606227pt;}
.y25{bottom:447.913172pt;}
.y24{bottom:447.913177pt;}
.y28{bottom:447.913193pt;}
.y20{bottom:448.190493pt;}
.y2b{bottom:448.190497pt;}
.y5{bottom:448.190595pt;}
.y1e{bottom:530.113495pt;}
.yc{bottom:530.113597pt;}
.y1b{bottom:618.798024pt;}
.y3{bottom:676.575554pt;}
.h1{height:42.656250pt;}
.ha{height:61.412506pt;}
.h4{height:66.946006pt;}
.h8{height:74.822004pt;}
.h7{height:75.260417pt;}
.h6{height:89.437500pt;}
.h3{height:89.500000pt;}
.h5{height:90.312500pt;}
.h9{height:90.360677pt;}
.h2{height:108.359375pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1{left:11.189606pt;}
.x22{left:54.911224pt;}
.x7{left:57.504974pt;}
.x35{left:64.607798pt;}
.xa{left:68.442373pt;}
.x4{left:80.112376pt;}
.x5{left:102.542063pt;}
.x8{left:112.338308pt;}
.x21{left:120.615845pt;}
.x6{left:126.232585pt;}
.x9{left:138.257060pt;}
.x36{left:217.711222pt;}
.x37{left:232.028402pt;}
.x38{left:236.490906pt;}
.x23{left:243.871623pt;}
.xb{left:362.352051pt;}
.x3{left:367.957560pt;}
.x16{left:377.846639pt;}
.x39{left:391.746552pt;}
.x24{left:408.296305pt;}
.xc{left:421.186279pt;}
.x25{left:430.725993pt;}
.x3a{left:449.413208pt;}
.x26{left:454.416504pt;}
.x3b{left:506.280396pt;}
.x3c{left:521.076742pt;}
.x3d{left:537.558024pt;}
.xd{left:566.683167pt;}
.x29{left:693.638224pt;}
.xe{left:708.922689pt;}
.x11{left:711.881978pt;}
.xf{left:731.352376pt;}
.x27{left:741.662191pt;}
.x2a{left:751.304850pt;}
.x10{left:755.042887pt;}
.x12{left:769.548665pt;}
.x28{left:815.373128pt;}
.x13{left:827.056478pt;}
.x14{left:841.373698pt;}
.x15{left:857.854899pt;}
.x2b{left:876.098633pt;}
.x2{left:901.477010pt;}
.x33{left:1003.098867pt;}
.x34{left:1015.703033pt;}
.x20{left:1032.576508pt;}
.x2c{left:1037.403239pt;}
.x1b{left:1047.226995pt;}
.x2d{left:1059.832926pt;}
.x17{left:1065.581868pt;}
.x18{left:1086.449056pt;}
.x2e{left:1097.851318pt;}
.x1c{left:1104.893636pt;}
.x19{left:1111.308350pt;}
.x2f{left:1116.537272pt;}
.x30{left:1144.537272pt;}
.x1d{left:1162.088949pt;}
.x1a{left:1164.684245pt;}
.x1e{left:1177.574870pt;}
.x1f{left:1194.056152pt;}
.x31{left:1202.026855pt;}
.x32{left:1222.894043pt;}
}
