.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.866699;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.949219;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.706543;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.919434;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-8.880000px;}
._4{margin-left:-6.640000px;}
._2{margin-left:-4.200000px;}
._1{margin-left:-2.160000px;}
._3{margin-left:-1.120000px;}
._5{width:1.700000px;}
.fc6{color:rgb(128,128,128);}
.fc5{color:rgb(255,128,0);}
.fc4{color:rgb(0,0,255);}
.fc0{color:rgb(255,255,255);}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(128,0,255);}
.fc3{color:rgb(0,0,128);}
.fs0{font-size:48.000000px;}
.fs5{font-size:64.000000px;}
.fs4{font-size:72.000000px;}
.fs3{font-size:80.000000px;}
.fs2{font-size:96.000000px;}
.fs1{font-size:120.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:6.550656px;}
.y2{bottom:6.652016px;}
.y14{bottom:56.125763px;}
.y13{bottom:77.725769px;}
.y23{bottom:85.202477px;}
.y12{bottom:99.325775px;}
.y22{bottom:104.402473px;}
.y11{bottom:120.925781px;}
.y21{bottom:123.602478px;}
.y10{bottom:142.525772px;}
.y20{bottom:142.802479px;}
.y15{bottom:156.416840px;}
.y1f{bottom:162.002479px;}
.yf{bottom:164.125771px;}
.ye{bottom:185.725769px;}
.yd{bottom:228.925766px;}
.y1e{bottom:229.072647px;}
.yb{bottom:246.238586px;}
.yc{bottom:250.525764px;}
.y1d{bottom:250.672653px;}
.y1c{bottom:272.272659px;}
.y1b{bottom:293.872650px;}
.y7{bottom:309.772346px;}
.y1a{bottom:315.472649px;}
.y19{bottom:337.072647px;}
.y6{bottom:338.572350px;}
.y18{bottom:358.672646px;}
.y5{bottom:367.372353px;}
.y17{bottom:380.272644px;}
.y4{bottom:396.172350px;}
.y8{bottom:397.585365px;}
.y16{bottom:401.872643px;}
.ya{bottom:443.143791px;}
.y9{bottom:464.743790px;}
.y3{bottom:507.431665px;}
.h1{height:33.890625px;}
.h7{height:45.187500px;}
.h6{height:50.835938px;}
.h5{height:56.093750px;}
.h4{height:67.078125px;}
.h3{height:67.781250px;}
.h2{height:81.269531px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1{left:8.392204px;}
.x8{left:30.561569px;}
.x5{left:51.331764px;}
.x6{left:89.881653px;}
.x9{left:190.568115px;}
.x7{left:217.873840px;}
.x4{left:229.097015px;}
.x3{left:275.968170px;}
.x2{left:676.107758px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-11.840000pt;}
._4{margin-left:-8.853333pt;}
._2{margin-left:-5.600000pt;}
._1{margin-left:-2.880000pt;}
._3{margin-left:-1.493333pt;}
._5{width:2.266667pt;}
.fs0{font-size:64.000000pt;}
.fs5{font-size:85.333333pt;}
.fs4{font-size:96.000000pt;}
.fs3{font-size:106.666667pt;}
.fs2{font-size:128.000000pt;}
.fs1{font-size:160.000000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:8.734208pt;}
.y2{bottom:8.869354pt;}
.y14{bottom:74.834351pt;}
.y13{bottom:103.634359pt;}
.y23{bottom:113.603302pt;}
.y12{bottom:132.434367pt;}
.y22{bottom:139.203298pt;}
.y11{bottom:161.234375pt;}
.y21{bottom:164.803304pt;}
.y10{bottom:190.034363pt;}
.y20{bottom:190.403305pt;}
.y15{bottom:208.555786pt;}
.y1f{bottom:216.003305pt;}
.yf{bottom:218.834361pt;}
.ye{bottom:247.634359pt;}
.yd{bottom:305.234355pt;}
.y1e{bottom:305.430196pt;}
.yb{bottom:328.318115pt;}
.yc{bottom:334.034353pt;}
.y1d{bottom:334.230204pt;}
.y1c{bottom:363.030212pt;}
.y1b{bottom:391.830200pt;}
.y7{bottom:413.029795pt;}
.y1a{bottom:420.630198pt;}
.y19{bottom:449.430196pt;}
.y6{bottom:451.429799pt;}
.y18{bottom:478.230194pt;}
.y5{bottom:489.829803pt;}
.y17{bottom:507.030192pt;}
.y4{bottom:528.229800pt;}
.y8{bottom:530.113820pt;}
.y16{bottom:535.830190pt;}
.ya{bottom:590.858388pt;}
.y9{bottom:619.658386pt;}
.y3{bottom:676.575554pt;}
.h1{height:45.187500pt;}
.h7{height:60.250000pt;}
.h6{height:67.781250pt;}
.h5{height:74.791667pt;}
.h4{height:89.437500pt;}
.h3{height:90.375000pt;}
.h2{height:108.359375pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1{left:11.189606pt;}
.x8{left:40.748759pt;}
.x5{left:68.442352pt;}
.x6{left:119.842204pt;}
.x9{left:254.090820pt;}
.x7{left:290.498454pt;}
.x4{left:305.462687pt;}
.x3{left:367.957560pt;}
.x2{left:901.477010pt;}
}
