.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.682617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.749000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.935000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.677734;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.756348;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:fff;src:url(ff.woff)format("woff");}.fff{font-family:fff;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-47.748000px;}
._1{margin-left:-37.000000px;}
._5{margin-left:-29.756000px;}
._6{margin-left:-13.320000px;}
._b{margin-left:-12.296000px;}
._11{margin-left:-11.000000px;}
._0{margin-left:-9.000000px;}
._e{margin-left:-7.864000px;}
._d{margin-left:-6.404051px;}
._3{margin-left:-4.824000px;}
._7{margin-left:-3.240000px;}
._2{margin-left:-1.944000px;}
._9{width:1.487964px;}
._c{width:2.900137px;}
._f{width:4.736000px;}
._10{width:6.063899px;}
._a{width:8.576036px;}
._15{width:46.480003px;}
._8{width:58.499997px;}
._12{width:65.499997px;}
._16{width:86.440003px;}
._13{width:93.160003px;}
._14{width:133.120003px;}
.fc2{color:rgb(243,228,200);}
.fc1{color:rgb(254,254,254);}
.fc0{color:rgb(0,0,0);}
.fs8{font-size:64.000000px;}
.fs2{font-size:72.000000px;}
.fs9{font-size:80.000000px;}
.fsd{font-size:84.000000px;}
.fse{font-size:88.040001px;}
.fsb{font-size:100.000000px;}
.fs1{font-size:108.000000px;}
.fsa{font-size:120.000000px;}
.fsc{font-size:122.000000px;}
.fs6{font-size:140.000000px;}
.fs5{font-size:142.000000px;}
.fs7{font-size:148.284188px;}
.fs4{font-size:180.000000px;}
.fs0{font-size:500.000000px;}
.fsf{font-size:576.000000px;}
.fs3{font-size:692.000000px;}
.y0{bottom:0.000000px;}
.y7{bottom:11.211559px;}
.y6{bottom:12.107784px;}
.y42{bottom:55.825043px;}
.y1b{bottom:77.945053px;}
.y41{bottom:79.825043px;}
.y3d{bottom:85.102219px;}
.y40{bottom:103.825045px;}
.y44{bottom:104.007187px;}
.y43{bottom:104.007248px;}
.y1a{bottom:113.945053px;}
.y14{bottom:120.360001px;}
.y3c{bottom:136.527145px;}
.y11{bottom:148.867638px;}
.y13{bottom:150.070824px;}
.y19{bottom:151.083588px;}
.y12{bottom:178.870823px;}
.y31{bottom:180.358101px;}
.y3b{bottom:181.692688px;}
.y29{bottom:191.922920px;}
.y21{bottom:206.435837px;}
.y18{bottom:207.745102px;}
.y30{bottom:223.934937px;}
.y28{bottom:235.499756px;}
.y3a{bottom:235.692688px;}
.y3{bottom:235.695541px;}
.y10{bottom:242.913277px;}
.y17{bottom:243.745102px;}
.y9{bottom:247.512894px;}
.y20{bottom:260.435837px;}
.y16{bottom:279.745102px;}
.y27{bottom:281.542732px;}
.y39{bottom:289.692688px;}
.y2f{bottom:292.815132px;}
.yf{bottom:305.913269px;}
.y15{bottom:316.883636px;}
.y26{bottom:321.000000px;}
.y38{bottom:343.692673px;}
.y45{bottom:349.559109px;}
.y2{bottom:357.635544px;}
.y2d{bottom:359.060944px;}
.y1f{bottom:367.803452px;}
.ye{bottom:394.386627px;}
.y37{bottom:397.692673px;}
.y2e{bottom:428.153084px;}
.y25{bottom:428.803078px;}
.y47{bottom:441.990234px;}
.y36{bottom:451.692673px;}
.y8{bottom:455.112915px;}
.y1e{bottom:462.214340px;}
.y24{bottom:473.803078px;}
.y1{bottom:479.575546px;}
.yd{bottom:488.849365px;}
.y2c{bottom:494.838348px;}
.y35{bottom:505.692673px;}
.y2b{bottom:541.261513px;}
.yc{bottom:549.856934px;}
.y23{bottom:559.672279px;}
.y34{bottom:562.727875px;}
.y1d{bottom:565.800003px;}
.y22{bottom:603.249115px;}
.y2a{bottom:607.507324px;}
.yb{bottom:614.849358px;}
.y1c{bottom:619.800003px;}
.y33{bottom:620.290390px;}
.y3f{bottom:634.227028px;}
.y32{bottom:672.582596px;}
.y3e{bottom:679.227028px;}
.y5{bottom:713.508572px;}
.y46{bottom:719.813908px;}
.y4{bottom:742.908571px;}
.ya{bottom:761.500883px;}
.h3{height:47.988281px;}
.h8{height:51.200000px;}
.h10{height:53.320312px;}
.h11{height:54.687500px;}
.h9{height:58.960000px;}
.h12{height:62.220703px;}
.ha{height:64.000000px;}
.h14{height:65.213223px;}
.h2{height:73.195312px;}
.hd{height:73.700000px;}
.hc{height:80.000000px;}
.h13{height:81.328125px;}
.hf{height:87.330078px;}
.he{height:88.440000px;}
.hb{height:96.000000px;}
.h6{height:112.000000px;}
.h7{height:118.627350px;}
.h5{height:121.992188px;}
.h1{height:338.867188px;}
.h15{height:426.656250px;}
.h4{height:510.004000px;}
.h0{height:810.000000px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x5{left:10.085907px;}
.x3{left:36.048981px;}
.x1f{left:61.189087px;}
.x19{left:66.000000px;}
.x13{left:102.000000px;}
.xf{left:111.147156px;}
.x4{left:120.397156px;}
.xa{left:128.999817px;}
.x17{left:132.000000px;}
.x7{left:154.203308px;}
.x2{left:176.124664px;}
.x1a{left:208.113388px;}
.x1b{left:209.187973px;}
.x20{left:213.442200px;}
.x10{left:215.541626px;}
.x23{left:218.144470px;}
.x8{left:262.501312px;}
.x16{left:287.457092px;}
.x1{left:294.166626px;}
.x18{left:337.269104px;}
.x1d{left:346.149872px;}
.xd{left:364.701965px;}
.x9{left:369.481018px;}
.xe{left:377.057129px;}
.x1e{left:401.712402px;}
.x1c{left:409.998596px;}
.x14{left:431.784485px;}
.x22{left:487.134155px;}
.x12{left:513.094299px;}
.xc{left:516.203430px;}
.x11{left:595.443359px;}
.x15{left:667.460449px;}
.xb{left:813.934814px;}
.x21{left:971.043335px;}
.x6{left:1064.414063px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-63.664000pt;}
._1{margin-left:-49.333333pt;}
._5{margin-left:-39.674667pt;}
._6{margin-left:-17.760000pt;}
._b{margin-left:-16.394667pt;}
._11{margin-left:-14.666667pt;}
._0{margin-left:-12.000000pt;}
._e{margin-left:-10.485333pt;}
._d{margin-left:-8.538735pt;}
._3{margin-left:-6.432000pt;}
._7{margin-left:-4.320000pt;}
._2{margin-left:-2.592000pt;}
._9{width:1.983952pt;}
._c{width:3.866849pt;}
._f{width:6.314667pt;}
._10{width:8.085199pt;}
._a{width:11.434715pt;}
._15{width:61.973337pt;}
._8{width:77.999996pt;}
._12{width:87.333329pt;}
._16{width:115.253337pt;}
._13{width:124.213337pt;}
._14{width:177.493337pt;}
.fs8{font-size:85.333333pt;}
.fs2{font-size:96.000000pt;}
.fs9{font-size:106.666667pt;}
.fsd{font-size:112.000000pt;}
.fse{font-size:117.386668pt;}
.fsb{font-size:133.333333pt;}
.fs1{font-size:144.000000pt;}
.fsa{font-size:160.000000pt;}
.fsc{font-size:162.666667pt;}
.fs6{font-size:186.666667pt;}
.fs5{font-size:189.333333pt;}
.fs7{font-size:197.712251pt;}
.fs4{font-size:240.000000pt;}
.fs0{font-size:666.666667pt;}
.fsf{font-size:768.000000pt;}
.fs3{font-size:922.666667pt;}
.y0{bottom:0.000000pt;}
.y7{bottom:14.948746pt;}
.y6{bottom:16.143712pt;}
.y42{bottom:74.433390pt;}
.y1b{bottom:103.926737pt;}
.y41{bottom:106.433390pt;}
.y3d{bottom:113.469625pt;}
.y40{bottom:138.433393pt;}
.y44{bottom:138.676249pt;}
.y43{bottom:138.676331pt;}
.y1a{bottom:151.926737pt;}
.y14{bottom:160.480001pt;}
.y3c{bottom:182.036194pt;}
.y11{bottom:198.490184pt;}
.y13{bottom:200.094432pt;}
.y19{bottom:201.444784pt;}
.y12{bottom:238.494431pt;}
.y31{bottom:240.477468pt;}
.y3b{bottom:242.256917pt;}
.y29{bottom:255.897227pt;}
.y21{bottom:275.247782pt;}
.y18{bottom:276.993469pt;}
.y30{bottom:298.579915pt;}
.y28{bottom:313.999674pt;}
.y3a{bottom:314.256917pt;}
.y3{bottom:314.260722pt;}
.y10{bottom:323.884369pt;}
.y17{bottom:324.993469pt;}
.y9{bottom:330.017192pt;}
.y20{bottom:347.247782pt;}
.y16{bottom:372.993469pt;}
.y27{bottom:375.390310pt;}
.y39{bottom:386.256917pt;}
.y2f{bottom:390.420176pt;}
.yf{bottom:407.884359pt;}
.y15{bottom:422.511515pt;}
.y26{bottom:428.000000pt;}
.y38{bottom:458.256897pt;}
.y45{bottom:466.078812pt;}
.y2{bottom:476.847392pt;}
.y2d{bottom:478.747925pt;}
.y1f{bottom:490.404602pt;}
.ye{bottom:525.848836pt;}
.y37{bottom:530.256897pt;}
.y2e{bottom:570.870778pt;}
.y25{bottom:571.737437pt;}
.y47{bottom:589.320312pt;}
.y36{bottom:602.256897pt;}
.y8{bottom:606.817220pt;}
.y1e{bottom:616.285787pt;}
.y24{bottom:631.737437pt;}
.y1{bottom:639.434062pt;}
.yd{bottom:651.799154pt;}
.y2c{bottom:659.784465pt;}
.y35{bottom:674.256897pt;}
.y2b{bottom:721.682017pt;}
.yc{bottom:733.142578pt;}
.y23{bottom:746.229706pt;}
.y34{bottom:750.303833pt;}
.y1d{bottom:754.400004pt;}
.y22{bottom:804.332153pt;}
.y2a{bottom:810.009766pt;}
.yb{bottom:819.799143pt;}
.y1c{bottom:826.400004pt;}
.y33{bottom:827.053853pt;}
.y3f{bottom:845.636037pt;}
.y32{bottom:896.776794pt;}
.y3e{bottom:905.636037pt;}
.y5{bottom:951.344762pt;}
.y46{bottom:959.751877pt;}
.y4{bottom:990.544762pt;}
.ya{bottom:1015.334511pt;}
.h3{height:63.984375pt;}
.h8{height:68.266667pt;}
.h10{height:71.093750pt;}
.h11{height:72.916667pt;}
.h9{height:78.613333pt;}
.h12{height:82.960938pt;}
.ha{height:85.333333pt;}
.h14{height:86.950964pt;}
.h2{height:97.593750pt;}
.hd{height:98.266667pt;}
.hc{height:106.666667pt;}
.h13{height:108.437500pt;}
.hf{height:116.440104pt;}
.he{height:117.920000pt;}
.hb{height:128.000000pt;}
.h6{height:149.333333pt;}
.h7{height:158.169801pt;}
.h5{height:162.656250pt;}
.h1{height:451.822917pt;}
.h15{height:568.875000pt;}
.h4{height:680.005333pt;}
.h0{height:1080.000000pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x5{left:13.447876pt;}
.x3{left:48.065308pt;}
.x1f{left:81.585449pt;}
.x19{left:88.000000pt;}
.x13{left:136.000000pt;}
.xf{left:148.196208pt;}
.x4{left:160.529541pt;}
.xa{left:171.999756pt;}
.x17{left:176.000000pt;}
.x7{left:205.604411pt;}
.x2{left:234.832886pt;}
.x1a{left:277.484517pt;}
.x1b{left:278.917297pt;}
.x20{left:284.589600pt;}
.x10{left:287.388835pt;}
.x23{left:290.859294pt;}
.x8{left:350.001750pt;}
.x16{left:383.276123pt;}
.x1{left:392.222168pt;}
.x18{left:449.692139pt;}
.x1d{left:461.533162pt;}
.xd{left:486.269287pt;}
.x9{left:492.641357pt;}
.xe{left:502.742839pt;}
.x1e{left:535.616536pt;}
.x1c{left:546.664795pt;}
.x14{left:575.712646pt;}
.x22{left:649.512207pt;}
.x12{left:684.125732pt;}
.xc{left:688.271240pt;}
.x11{left:793.924479pt;}
.x15{left:889.947266pt;}
.xb{left:1085.246419pt;}
.x21{left:1294.724447pt;}
.x6{left:1419.218750pt;}
}
