.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.893555;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.682617;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.690918;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.848633;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._14{margin-left:-12.944000px;}
._10{margin-left:-10.458169px;}
._0{margin-left:-8.880000px;}
._a{margin-left:-6.840000px;}
._9{margin-left:-5.424000px;}
._2{margin-left:-4.200000px;}
._1{margin-left:-2.160000px;}
._17{margin-left:-1.068000px;}
._6{width:1.088000px;}
._5{width:2.124593px;}
._11{width:7.089303px;}
._f{width:8.153781px;}
._e{width:9.331313px;}
._d{width:11.311344px;}
._15{width:12.402229px;}
._16{width:14.086168px;}
._3{width:22.242500px;}
._4{width:23.926500px;}
._7{width:29.242500px;}
._8{width:30.926500px;}
._b{width:48.617500px;}
._c{width:50.301500px;}
._13{width:52.989430px;}
._12{width:54.361430px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,255,255);}
.fs1{font-size:48.000000px;}
.fs2{font-size:112.000000px;}
.fs0{font-size:120.000000px;}
.y0{bottom:0.000000px;}
.y2{bottom:6.550656px;}
.y3{bottom:6.652016px;}
.y12{bottom:74.319023px;}
.y9{bottom:114.559021px;}
.y10{bottom:124.162445px;}
.y8{bottom:144.799021px;}
.yf{bottom:154.402435px;}
.ye{bottom:184.642426px;}
.ya{bottom:203.866749px;}
.y11{bottom:264.079018px;}
.yd{bottom:265.122429px;}
.y6{bottom:294.319023px;}
.yc{bottom:295.362427px;}
.y5{bottom:324.559021px;}
.yb{bottom:325.602427px;}
.y4{bottom:354.799021px;}
.y7{bottom:413.866741px;}
.y1{bottom:507.431665px;}
.h2{height:31.992188px;}
.h4{height:75.906250px;}
.h3{height:77.765625px;}
.h1{height:81.328125px;}
.h5{height:87.718750px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x2{left:8.392204px;}
.x5{left:49.200012px;}
.x4{left:86.750000px;}
.x1{left:275.411530px;}
.x6{left:288.750000px;}
.x3{left:792.107758px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._14{margin-left:-17.258667pt;}
._10{margin-left:-13.944226pt;}
._0{margin-left:-11.840000pt;}
._a{margin-left:-9.120000pt;}
._9{margin-left:-7.232000pt;}
._2{margin-left:-5.600000pt;}
._1{margin-left:-2.880000pt;}
._17{margin-left:-1.424000pt;}
._6{width:1.450667pt;}
._5{width:2.832791pt;}
._11{width:9.452404pt;}
._f{width:10.871708pt;}
._e{width:12.441751pt;}
._d{width:15.081791pt;}
._15{width:16.536305pt;}
._16{width:18.781557pt;}
._3{width:29.656667pt;}
._4{width:31.902000pt;}
._7{width:38.990000pt;}
._8{width:41.235333pt;}
._b{width:64.823333pt;}
._c{width:67.068667pt;}
._13{width:70.652573pt;}
._12{width:72.481906pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:149.333333pt;}
.fs0{font-size:160.000000pt;}
.y0{bottom:0.000000pt;}
.y2{bottom:8.734208pt;}
.y3{bottom:8.869354pt;}
.y12{bottom:99.092031pt;}
.y9{bottom:152.745361pt;}
.y10{bottom:165.549927pt;}
.y8{bottom:193.065361pt;}
.yf{bottom:205.869914pt;}
.ye{bottom:246.189901pt;}
.ya{bottom:271.822332pt;}
.y11{bottom:352.105357pt;}
.yd{bottom:353.496572pt;}
.y6{bottom:392.425364pt;}
.yc{bottom:393.816569pt;}
.y5{bottom:432.745361pt;}
.yb{bottom:434.136569pt;}
.y4{bottom:473.065361pt;}
.y7{bottom:551.822322pt;}
.y1{bottom:676.575554pt;}
.h2{height:42.656250pt;}
.h4{height:101.208333pt;}
.h3{height:103.687500pt;}
.h1{height:108.437500pt;}
.h5{height:116.958333pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x2{left:11.189606pt;}
.x5{left:65.600016pt;}
.x4{left:115.666667pt;}
.x1{left:367.215373pt;}
.x6{left:385.000000pt;}
.x3{left:1056.143677pt;}
}
